$primaryClr: #2e8bc0;
$secondryClr: #145da0;
$darkBlue: #0c2d48;
$lightblue: #b1d4e0;
$lightClr: #feffff;
$darkClr: #14202e;
$title: 90px;
$gradient: linear-gradient(to left, $lightblue, $primaryClr, $lightblue);
$gradient1: linear-gradient(-180deg, $darkBlue, $darkClr, $darkBlue);

.light-mode {
  --primaryCLR: #2e8bc0;
  --primaryDark: #145da0;
  --darkBlue: #0c2d48;
  --backgroundClr: #feffff;
  --backgroundGradient: linear-gradient(
    180deg,
    rgba(216, 231, 248, 0) 0%,
    #feffff 79.17%
  );
  --textClr: #14202e;
  --secDark: #eeeeeec9;
  --DarkCLR: #0c2d48;
  --Box: #131313b9;
  --filterBox: rgba(59, 59, 59, 0.25);
}

.dark-mode {
  --primaryCLR: #2e8bc0;
  --primaryDark: #145da0;
  --darkBlue: #0c2d48;
  --backgroundClr: #0c2d48;
  --backgroundGradient: linear-gradient(
    180deg,
    rgba(20, 32, 46, 0) 0%,
    #0c2d48 79.17%
  );
  --textClr: #f6f4f4;
  --secDark: #eeeeeec9;
  --DarkCLR: #3b3b3b;
  --Box: #131313b9;
  --filterBox: rgba(59, 59, 59, 0.25);
}

@mixin PrimaryBtn($clr, $back, $hover) {
  background: $back;
  padding: 12px 35px;
  border-radius: 5px;
  color: $clr;
}
@mixin Display($content, $items) {
  display: flex;
  justify-content: $content;
  align-items: $items;
  width: 100%;
  min-height: 100vh;
}

@mixin lg() {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin sm() {
  @media (min-width: 480px) {
    @content;
  }
}
@mixin md() {
  @media (min-width: 820px) {
    @content;
  }
}
@mixin gradientBtn($clr1, $clr2) {
  #btn {
    background: linear-gradient(to left, $clr1, $clr2, $clr1);
    background-size: 180%;
    background-position: right;
    color: $lightClr;
    transition: 0.3s ease-in-out;
    &:hover {
      background-position: left;
    }
  }
}
