#carousel_section {
  background: var(--backgroundClr);
  @include Display(flex-end, flex-start);
  padding: 5% 0;
  min-height: max-content;
  h1 {
    color: var(--textClr);
    display: inline-block;
  }
}
